.board {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__score {
    display: flex;
    align-items: center;
    width: 45rem;
    justify-content: space-between;

    h1 {
      width: 15rem;
      text-align: center;
    }
  }
  &__game-field {
    height: 45rem;
    width: 45rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
