.board {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__score {
    display: flex;
    align-items: center;
    width: 40rem;
    justify-content: space-between;

    h1 {
      width: 15rem;
      text-align: center;
    }
    &__scores {
      padding: 5px;
      font-size: 3rem;
      border: 3px solid $grey;
      width: 10rem;
      text-align: center;
      display: flex;
      justify-content: space-around;

      &__score {
        p {
          margin: 0;
        }
      }
    }
  }
  &__game-field {
    height: 40rem;
    width: 40rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.new-game {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
  background-color: $grey;
  font-weight: 700;
  color: rgb(4, 22, 82);
  border: none;
  transition: all 0.2s;
  &:active {
    transform: translate(5px);
  }
}
